## Estudo com Análise de Crimes de Ódio (2017-2025)

Objetivo da Análise
O objetivo é explorar o conjunto de dados sobre crimes de ódio para entender padrões, tendências e as principais características desses incidentes.

Perguntas a Serem Respondidas
    Antes de começar, vamos definir algumas perguntas que guiarão nossa análise:

Tendência Temporal: 
    Como o número de crimes de ódio evoluiu ao longo dos anos presentes no dataset?

Distribuição Geográfica: 
    Quais estados apresentam os maiores números de registros de crimes de ódio?

Motivações Principais:
    Quais são as motivações de preconceito (viés) mais comuns por trás desses crimes?

Tipos de Ofensa:
    Quais são os tipos de ofensa (crime) mais frequentemente reportados?

Relação Agência x Crimes:
    Existe alguma diferença significativa no número de crimes reportados por tipo de agência (ex: polícia da cidade, xerife do condado)?

### Configuração do Ambiente e Carregamento dos Dados

In [2]:
# Importando as bibliotecas necessárias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Configurando o estilo dos gráficos para melhor visualização
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (12, 6)

# Carregando o dataset
# Certifique-se de que o arquivo 'Hate_Crimes_2017-2025.csv' está na mesma pasta do seu notebook
# ou forneça o caminho completo para o arquivo.
try:
    df = pd.read_csv('Hate_Crimes_2017-2025.csv')
    print("Arquivo carregado com sucesso!")
except FileNotFoundError:
    print("Erro: Arquivo não encontrado. Verifique o nome e o caminho do arquivo.")

Arquivo carregado com sucesso!

### Análise Exploratória de Dados (EDA)

In [3]:
# 1. Visualizar as primeiras linhas do DataFrame
print("Amostra dos dados:")
display(df.head())

Amostra dos dados:

,Month,Incident Number,Date of Incident,Day of Week,Number of Victims under 18,Number of Victims over 18,Number of Offenders under 18,Number of Offenders over 18,Race/Ethnicity of Offenders,Offense(s),Offense Location,Bias,Zip Code,APD Sector,Council District
0,Jan,2017-241137,01/01/2017 12:00:00 AM,Sun,0,1,0,1,White/Not Hispanic,Aggravated Assault,Park/Playground,Anti-Black or African American,78704.0,Henry,9.0
1,Feb,2017-580344,02/01/2017 12:00:00 AM,Wed,0,1,0,1,Black or African American/Not Hispanic,Aggravated Assault,Highway/Road/Alley/Street/Sidewalk,Anti-White,78702.0,Charlie,1.0
2,Mar,2017-800291,03/21/2017 12:00:00 AM,Tue,0,0,0,0,Unknown,Destruction,Highway/Road/Alley/Street/Sidewalk,Anti-Jewish,78757.0,Ida,7.0
3,Apr,2017-1021534,04/12/2017 12:00:00 AM,Wed,0,0,0,0,White/Unknown,Simple Assault,Air/Bus/Train Terminal,Anti-Jewish,78723.0,Ida,1.0
4,May,2017-1351550,05/15/2017 12:00:00 AM,Mon,1,0,1,2,White/Not Hispanic,Simple Assault,Residence/Home,Anti-Gay (Male),78750.0,Adam,6.0

In [4]:

# 2. Obter informações sobre as colunas, tipos de dados e valores nulos
print("\nInformações do DataFrame:")
df.info()

Informações do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Month                         266 non-null    object
 1   Incident Number               266 non-null    object
 2   Date of Incident              266 non-null    object
 3   Day of Week                   266 non-null    object
 4   Number of Victims under 18    266 non-null    object
 5   Number of Victims over 18     266 non-null    object
 6   Number of Offenders under 18  266 non-null    object
 7   Number of Offenders over 18   264 non-null    object
 8   Race/Ethnicity of Offenders   266 non-null    object
 9   Offense(s)                    266 non-null    object
 10  Offense Location              266 non-null    object
 11  Bias                          266 non-null    object
 12  Zip Code                      265 non-null    float64
 13  APD Sector                    265 non-null    object
 14  Council District              265 non-null    float64
dtypes: float64(2), object(13)
memory usage: 31.3+ KB

In [5]:

# 3. Gerar estatísticas descritivas para as colunas numéricas
print("\nEstatísticas Descritivas:")
display(df.describe())

Estatísticas Descritivas:

           Zip Code  Council District
count    265.000000        265.000000
mean   78727.664151          6.018868
std       25.630024          3.021956
min    78613.000000          1.000000
25%    78704.000000          3.000000
50%    78731.000000          7.000000
75%    78750.000000          9.000000
max    78759.000000         10.000000

In [6]:
# 4. Verificar a contagem de valores nulos em cada coluna
print("\nContagem de valores nulos por coluna:")
print(df.isnull().sum())

Contagem de valores nulos por coluna:
Month                           0
Incident Number                 0
Date of Incident                0
Day of Week                     0
Number of Victims under 18      0
Number of Victims over 18       0
Number of Offenders under 18    0
Number of Offenders over 18     2
Race/Ethnicity of Offenders     0
Offense(s)                      0
Offense Location                0
Bias                            0
Zip Code                        1
APD Sector                      1
Council District                1
dtype: int64

In [7]:
# 5. Listar os nomes das colunas para facilitar a referência
print("\nNomes das colunas:")
print(df.columns)

Nomes das colunas:
Index(['Month', 'Incident Number', 'Date of Incident', 'Day of Week',
       'Number of Victims under 18', 'Number of Victims over 18',
       'Number of Offenders under 18', 'Number of Offenders over 18',
       'Race/Ethnicity of Offenders', 'Offense(s)', 'Offense Location', 'Bias',
       'Zip Code', 'APD Sector', 'Council District'],
      dtype='object')